@page
@using MyApp.WebMvc.Areas.Identity.Pages.Models
@model MyApp.WebMvc.Areas.Identity.Pages.User.IndexModel
@{
    ViewData["title"] = "Users";
    ViewData["ActivePage"] = AdminManageNavPages.User;
}

<h1>User</h1>