@using Microsoft.AspNetCore.Identity
@using MyApp.Infrastructure.Entities.Identity
@using MyApp.WebMvc.Areas.Manager.Comom.Contants

@inject SignInManager<AppUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<!-- Menu -->
<ul class="nav flex-column gap-1">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ProductNavClass(ViewContext)"
               asp-action="index" asp-controller="product">
            <i class="bi bi-box-seam"></i>
            <span>Sản phẩm</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link @ManageNavPages.OrderNavClass(ViewContext)"
               asp-action="index" asp-controller="order">
            <i class="bi bi-cart-check"></i>
            <span>Đơn hàng</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PromotionNavClass(ViewContext)"
               asp-action="index" asp-controller="promotion">
            <i class="bi bi-tags"></i>
            <span>Khuyến mãi</span>
        </a>
    </li>
</ul>

