@model IFormFile
@{
    ViewData["title"] = "Upload Image";
    ViewData["ActivePage"] = ManageNavPages.Product;

    
}

@section CSS {
    
   
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a asp-area="manager" asp-controller="product" asp-action="index" class="text-decoration-none">Sản phẩm</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tạo ảnh</li>
}
<div class="container mt-4">
    <h2>@ViewData["title"]</h2>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Product" asp-action="UploadFileWebp" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="mb-3">
                    <label class="form-label">Chọn hình ảnh sản phẩm</label>
                    <input type="file" name="file" class="form-control" accept="image/png, image/jpeg, image/webp" />
                    <small class="text-muted">Hỗ trợ: JPG, PNG, WEBP</small>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Lưu hình ảnh</button>
                    <a asp-action="Index" class="btn btn-outline-secondary">Hủy</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    

}
