@page
@using MyApp.WebMvc.Areas.Identity.Pages.Models
@model MyApp.WebMvc.Areas.Identity.Pages.Role.IndexModel
@{
    ViewData["title"] = "Roles";
    ViewData["ActivePage"] = AdminManageNavPages.Role;
}

<h1>Role Management</h1>